@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");
body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%234d4caf' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.App form {
  font-size: 25px;
}
.App form .search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
}
.App form .search input {
  padding: 10px 0px 10px 10px;
  border: none;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 15px 0px 0px 15px;
  visibility: visible;
  opacity: 0;
  width: 0px;
}
.App form .search input:focus {
  outline: none;
}
.App form .search .btn1 {
  padding: 10px;
  border: none;
  border-radius: 15px 15px 15px 15px;
  font-size: 25px;
  background-color: lightgrey;
  transition: all 0.5s;
}
.App form .search .btn1:active {
  background-color: #fff;
}
.App form .search .btn1 .fa-search {
  transition: opacity 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 1;
  width: 40px;
}
.App form .search .btn1 .fa-plus {
  position: absolute;
  left: 20px;
  top: 16px;
  transform: scale(1.3);
  transition: opacity 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  rotate: 45deg;
  opacity: 0;
  overflow: hidden;
}
.App form .search.active .input {
  width: 350px;
  visibility: visible;
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.App form .search.active .btn1 {
  border-radius: 0px 15px 15px 0px;
  transform: translate(0px);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.App form .search.active .btn1 .fa-search {
  transition: opacity 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
  overflow: hidden;
}
.App form .search.active .btn1 .fa-plus {
  left: 10px;
  transition: opacity 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 1;
  width: 40px;
}
.App .result {
  font-size: 1rem;
}
.App .result .date {
  border: 2px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: rgb(31, 34, 34);
  color: white;
  margin: auto;
  padding: 10px 0 10px;
  width: 470px;
}
.App .result .date .weather-icon {
  transform: scale(1.2);
}